nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgb(95, 94, 94), rgb(32, 32, 32));
    position: sticky;
    top: 0;
    z-index: 999;
}
nav img{
    width: 8rem;
    height: 4rem;
}

nav ul{
    display: flex;
    list-style: none;
}
.link{
    text-decoration: none;
    color: white;
    margin: 0 2rem;
    font-weight: bold;
}

nav button{
    border: none;
    background-color: red;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}