.container{
    display: flex;
    flex-direction: column;
    margin: 3rem;
}
iframe{
    width: 15rem;
    height: 20rem;
}
.about{
    display: flex;
}
.about button{
    width: 7rem;
    height: 3rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: red;
}
.choose{
    display: flex;
    flex-direction: row-reverse;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 2rem;
}
.content h2{
    color: red;
}