.carousal {
    /* background-color: black; */
    color: green;
    min-height: 200px;
    min-width: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousal_div {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* border: 1px solid red; */
    width: 800px;
    height: 260px;
    overflow-x: scroll;
}
/* .carousal_div::-webkit-scrollbar {
    display: none;
} */

.imgText {
    position: relative;
    font-size: xx-large;
    top: 100px;

}

img {
    height: 250px;
    width: 250px;
    opacity: 0.4;
    z-index: -1;
    margin-top: -50px;
}